@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Poppins', sans-serif;
}

body,
html {
    overflow-x: hidden;
}

.text-color-aloha{
    color: #E13028;
}

.sombra-aloha{
    box-shadow: inset -1px -1px 4px rgba(0, 0, 0, 0.25);
}

.sombra-aloha-roja {
    box-shadow: 0px 5px 6px -5px #e13128;
}

.bg-color-aloha {
    background-color: #E13028;
}

.bg-color-aloha:hover {
    background-color: #b92119;
    transition: background-color 0.3s;
}

.text-titulo-aloha {
    font-size: 1em;
}

.ojito-distancia {
    left: 85%;
}

.logo-aloha {
    width: 60px;
}

.main-ups {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

@media(min-width: 1024px) {
    .logo-aloha {
        width: 80px;
    }
}